@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin-top: 24px;
}

a {
    text-decoration: none;
    position: relative;
}

.filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #fff;
    width: 0;
    bottom:-3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

li {
    list-style-type: none;
}


/*

NAVIGATION

*/

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.accent {
    color:#e2a407;
}

.logo {
    width: 120px;
    margin-top: 12px;
}

ul {
    display: flex;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav__link--anchor-primary {
    background-color: #e2a407;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: rgb(29, 27, 27);
    color: #e2a407;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font: 20px;
    color: #ffff;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: none;
}

.nav__link--primary {
    border: 2px solid #ffff;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}


/*

LANDING 

*/

#landing {
    background-color: rgb(48, 44, 44);
}

header {
    height: calc(60vh - 20px);
}

.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
    opacity: 20%;
    width: 1200px;
    margin: 0 auto;
    max-height: 20vh;
    padding: 20px;
}

.input__box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 72px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 20px;
    border-radius: 32px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input__box i,
.input__box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input__box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input__box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input__box .button {
    right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(48, 44, 44);
    border: none;
    padding: 12px 30px;
    border-radius: 32px;
    background-color: #e2a407;
    cursor: pointer;
}

.input__box .button:active {
    transform: translateY(-50%) scale(0.98);
}


/*

SEARCH

*/

#search {
    background-color: rgb(201, 194, 194);
}

.search__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.filter__header {
    padding: 20px 0;
}
#filter {
    border-radius: 10px;
    padding: 10px;
    width: 120px;
}

h2 {
    color: rgb(48, 44, 44);
}

p {
  font-size: 14px;
  word-break: break-word;
}

.hidden {
  display: none;
}

.movie-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 50%;
}

.movie-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card__container {
  padding: 42px 16px;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
}

.movie-card__poster {
  width: 180px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: block;
  margin: 8px 0;
}

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #e2a407;
}

.movies__loading--spinner {
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 

SMALL PHONES, TABLETS, LARGE SMARTPHONES 

*/
@media (max-width: 768px) {
    .nav__container {
    padding: 0 24px;
    }

    .header__img--wrapper{
    width: 100%;
    }

    .logo {
    width: 80px;
    margin-top: 12px;
    }

    .input__box {
    width: 650px;
    }

    h1 {
    font-size: 40px;
    }

    .results__container{
    display: flex;
    flex-wrap: wrap;
    }

    .movie {
    width: 350px
    }
}

/* 

SMALL PHONES, LARGE SMARTPHONES 

*/
@media (max-width: 550px) {
    .nav__container {
    padding: 0 24px;
    }

    .header__img--wrapper{
    max-width: 750px;
    }

    .logo {
    width: 50px;
    margin-top: 12px;
    }

    .input__box {
    width: 450px;
    }

    h1 {
    font-size: 30px;
    }

    .results__container{
    display: flex;
    flex-wrap: wrap;
    }

    .movie {
    width: 500px
    }
}

